/* DEFINE COLOR */
.b-gray {
    background-color: #F8F9FA;
}
.c-gray {
    color: #F8F9FA;
}

.b-blue {
    background-color: #002395;
}
.c-blue {
    color: #002395;
}

.b-red {
    background-color: #FF0015;
}
.c-red {
    color: #FF0015;
}

.b-white {
    background-color: #fff;
}
.c-white {
    color: #fff;
}